html {
  margin: 30px;  
}

h1 {
  margin: 5px;
  padding: 10px;
  color: white;
  background-color: gray;
  border-top: dotted 2px white;
  border-bottom: dotted 2px white;
}

h2 {
  margin: 10px;
  padding: 5px;
  color: gray;
  border-bottom: solid 3px black;
}

contents {
  white-space: pre-wrap;
}

