html {
  margin: 30px;  
}

h1 {
  margin: 5px;
  color: black;
  background-color: cyan;
  border-color: white;
  border-top: dotted 2px;
  border-bottom: dotted 2px;
}

contents {
  white-space: pre-wrap;
}

